body{padding: 0; margin: 0;}

.wrapper>main>section.banner-block .carousel-control-prev,
.wrapper>main>section.banner-block .carousel-control-next{
    /* border: 5px solid white; */
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 48px;
    height: 48px;
    color: black;
}

